<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSNativeWithTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA48FBF51DFB53EB0049EC1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA48FC0E1DFB53EC0049EC1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA48FC191DFB53EC0049EC1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
